<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-label><strong>Populaire</strong></ion-label>
        <ion-icon name="flame-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="top">
        <ion-label><strong>Top</strong></ion-label>
        <ion-icon name="star-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="actual">
        <ion-label><strong>Actuellement</strong></ion-label>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>