.top-content {
    display: flex;
}

.actor-pic {
    display: flex;
}

.actor-info {
    display: flex;
    flex-direction: column;
}

.actor-text {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}